<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="Instagram-login2.css"</link>
  <script>
  window.onload=function(){

  var a=document.getElementById("loginbutton");
  a.onclick=function()
{
  var b=document.getElementsByClassName("form")[0].value;
  var c=document.getElementsByClassName("form")[1].value;
alert("사용자 이름: "+b+ "\n"+ "비밀번호: "+c+"\n"+"사용자 이름, 비밀번호: "+b+c);
}
}
  </script>

</head>
<body>
  <div id="all">
  <div>
<img id="left" src="/images/insta2.jpg">
  </div>
  <div id="right">
  <div id="right-top">
<img src="/images/sungjin.jpg">
<form action="input.jsp" method="post">
  <input class="form"type="text" name="text" placeholder="사용자 이름" value=""></input><br/>
  <input class="form" type="password" name="text" placeholder="비밀번호" value=""></input>
</form>
<button id="loginbutton" type="button" ><font size="4">로그인</font></button>
  </div>
  <div id="right-bottom">
    <p>계정이 없으신가요?<a href="file:///C:/Users/AtivBook/Desktop/%EC%9B%B9%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/Instagram-login1.html">가입하기</a></p>
  </div>
  <div>
    <p>앱을 다운로드 하세요.</p>
    <button class="black-button"type="button">APP STORE에서 <br/>다운로드하기</button>
    <button class="black-button"type="button">다운로드 하기 <br/>GOOGLE play</button><br/>
    <audio id="song"src="giriboy.mp3"controls></audio>
  </div>
</div>
</div>
</body>
</html>
